.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--eerie-black);
    color: var(--lavender-web);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 5px;
    overflow-y: auto;
    max-height: 500px;
    z-index: 1000;
}

.search-results-column {
    width: 100%;
    padding: 10px;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    color: var(--lavender-web);
    text-decoration: none;
}

.search-result-item:hover {
    background-color: var(--lavender-web);
    transition: all 0.3s ease-in-out;
    color: var(--eerie-black);
}
.search-result-item img {
    max-width: 100px;
    margin-right: 10px;
    height: auto;
}

.search-result-item span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .search-results-dropdown {
        min-width: 720px;
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .search-result-item img {
        max-width: 150px;
    }
}