.top-nav {
    height:8vh;
    background-image: linear-gradient(to right top, #1e2019, #1c1b15, #191612, #15110e, #0e0a09, #0e0a09, #0e0a09, #0e0a09, #15110e, #191612, #1c1b15, #1e2019);
    z-index: 1000;
}
/* changes the color of the 'Search' */
.placeholder-white::placeholder {
    color: white;
    opacity: 0.6; /* matches the tabs opacity */
}
