.search-results-dropdown {
    position: absolute;
    background-color: #fff;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1000;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: var(--lavender-web);
}

.search-result-item:hover {
    background-color: #f2f2f2;
    color: var(--eerie-black);
    transition: all 0.2s ease-in-out;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box i {
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-box input {
    padding-left: 30px;
    background: transparent;
    border: none;
    color: white;
}