/* Mobile navigation */
.mobile-nav {
    display: none;
background-image: linear-gradient(to right top, #1e2019, #1c1b15, #191612, #15110e, #0e0a09, #0e0a09, #0e0a09, #0e0a09, #15110e, #191612, #1c1b15, #1e2019);
}

.nav-icon {
    font-size: 1.6em;
}
@media (max-width: 768px) {
    .mobile-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        z-index: 1000;
    }
}