.movie-poster {
    max-height: 92vh;
    position: absolute;
    top:8vh;
    right: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(30, 32, 25);
    background: linear-gradient(90deg, rgba(30, 32, 25, 1) 30%, rgba(255, 255, 255, 0) 60%, rgba(30, 32, 25, 1) 98%);
    z-index: 3;
}


.movie-contents-container {
    height: 70vh;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    /* aligns content to the left */
    align-items: flex-end;
    /* aligns content to the bottom */
}

.movie-contents {
    color: var(--lavender-web);
    text-shadow: 1px 1px 1px black;
}

@media screen and (max-width:768px) {
    .movie-poster {
        max-width: 100vw;
        max-height:80vh;
    }

    .overlay {
        background: linear-gradient(90deg, rgba(30, 32, 25, 1) 20%, rgba(255, 255, 255, 0) 50%, rgba(30, 32, 25, 1) 95%);
    }

    .movie-contents {

    }
}

@media screen and (max-width:480px) {
    .overlay {
        background: linear-gradient(90deg, rgba(30, 32, 25, 0.8) 5%, rgba(255, 255, 255, 0) 50%, rgba(30, 32, 25, 0.8) 95%);
    }
}