/*---------------------------------------------------------------------------Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------------------------------------------------------------Color Scheme*/
:root {
  --bice-blue: #3a6ea5ff;
  --eerie-black: #1e2019ff;
  --lavender-web: #e5eafaff;
  --polynesian-blue: #004e98ff;
  --raspberry: #db2955ff;
}

/*---------------------------------------------------------------------------Base CSS Only */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--eerie-black);
  overflow-x: hidden !important;
}
